:root{

}
.light-theme{
    --bg: #28a99e;
    --txt: #28a99e;
    --header-txt: #28a99e;
    --header-bg: #b3e0dc;
    --header-brdr: #fff;
    --input-bg: #fff;
    --input-txt: #28a99e;
    --item-btn: #048c7f;
    --item-btn-txt: #b3e0dc;
    --item-bg: #fff;
    --item-txt: #333;
    --vert-line: #ff4747;
    --hor-line: #b3e0dc;
}
.dark-theme{
    --bg: #333;
    --txt: #b3e0dc;
    --header-txt: #b3e0dc;
    --header-bg: #048c7f;
    --header-brdr: #025043;
    --input-bg: #b3e0dc;
    --input-txt: #025043;
    --item-btn: #048c7f;
    --item-btn-txt: #b3e0dc;
    --item-bg: #222;
    --item-txt: #fff;
    --vert-line: #878787;
    --hor-line: #333;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg);
    color: var(--txt);
}

.page-wrapper{
    display: flex;
    flex-direction: column;
}



/* =================================== */
/*               NAVBAR                */
/* =================================== */
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-bg);
    height: 5rem;
    width: 100%;
    border: solid var(--header-brdr) .25rem;
    border-top: 0;
    border-bottom-right-radius: 50rem;
    border-bottom-left-radius: 50rem;
    position: fixed;
    z-index: 2;
}
.nav img{
    margin: 0 2rem;
    height: 3rem;
    width: auto;
}
.nav h1{
    font-size: 4rem;
}
.nav-buffer{
    height: 8rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}



/* =================================== */
/*                FORM                 */
/* =================================== */
form {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
form input {
    height: 3rem;
    width: 40rem;
    padding: 0 1rem;
    background-color: var(--input-bg);
    color: var(--input-txt);
    font-size: 2rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
form button{
    height: 3rem;
    width: 10rem;
    font-size: 2rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.btn{
    background-color: var(--item-btn);
    color: var(--item-btn-txt);
}


/* =================================== */
/*                List                 */
/* =================================== */
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.single-item{
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;
    padding: 0 0 0 5rem;
    background-color: var(--item-bg);
    color: var(--item-txt);
    width: 45rem;
    font-size: 1.75rem;
}
.single-item button{
    padding: 0 .5rem;
}

.clearItems{
    margin-top: 3rem;
    padding: .5rem;
    font-size: 1.75rem;
    width: 15rem;
    border-radius: 1rem;


}

.blue-line{
    height: .1rem;
    background-color: var(--hor-line);
}
.red-line{
    position: absolute;
    background-color: var(--vert-line);
    margin-left: -1rem;
    width: .1rem;
    height: 2rem;
}
